<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
	
		<typeAliases>
		<!--  
			<typeAlias type="com.db.dto.departmentsVO" alias="departmentsVO"/>
			<typeAlias type="com.db.dto.real_estateVO" alias="real_estateVO"/>
			<typeAlias type="com.db.dto.real_estate_categoryVO" alias="real_estate_categoryVO"/>
		-->
		<typeAlias type="com.db.dto.loginVO" alias="loginVO"/>
		</typeAliases>
			
		
	</configuration>
	