<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
	
		<typeAliases>
		<!--  
			<typeAlias type="com.db.dto.departmentsVO" alias="departmentsVO"/>
			<typeAlias type="com.db.dto.real_estateVO" alias="real_estateVO"/>
			<typeAlias type="com.db.dto.real_estate_categoryVO" alias="real_estate_categoryVO"/>
		-->
		<typeAlias type="com.db.dto.loginVO" alias="loginVO"/>
		<typeAlias type="com.db.dto.doctorVO" alias="doctorVO"/>
		<typeAlias type="com.db.dto.birthVO" alias="birthVO"/>
		<typeAlias type="com.db.dto.patientVO" alias="patientVO"/>
		<typeAlias type="com.db.dto.register_infoVO" alias="register_infoVO"/>
		<typeAlias type="com.db.dto.mediVO" alias="mediVO"/>
		<typeAlias type="com.db.dto.clinicVO" alias="clinicVO"/>
		<typeAlias type="com.db.dto.clinic1VO" alias="clinic1VO"/>
		<typeAlias type="com.db.dto.diseVO" alias="diseVO"/>
		
		</typeAliases>
			
		
	</configuration>
	